@import 'tailwindcss';

body {
  font-family: Arial, Helvetica, sans-serif;
}

.links-hover > li a:hover {
  color: dodgerblue;
  transition: color ease-in-out 1s;
}
.button {
  opacity: 1;
  &:hover {
    opacity: 0.85;
    transition: opacity ease 0.5s;
  }
}
/* .grid {
  display: grid;
  gap: 2em;
  justify-content: center;
  align-items: center;
} */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
